{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- page title -->
<!--================================
=            Page Title            =
=================================-->
<section class="page-title">
	<!-- Container Start -->
	<div class="container">
		<div class="row">
			<div class="col-md-8 offset-md-2 text-center">
				<!-- Title text -->
				<h3>Biz bilan bog'lanish</h3>
			</div>
		</div>
	</div>
	<!-- Container End -->
</section>
<!-- page title -->

<!-- contact us start-->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="contact-us-content p-4">
                    <h5>Biz bilan bog'lanish</h5>
                    <h1 class="pt-3">Assalomu alaykum , Siz qaysi mahsulotimizga buyurtma bermoqchisiz.</h1>
                </div>
            </div>
            <div class="col-md-6">
                    <form action="#">
                        <fieldset class="p-4">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-6 py-2">
                                        <input type="text" placeholder="Ism *" class="form-control" required>
                                    </div>
                                    <div class="col-lg-6 pt-2">
                                        <input type="email" placeholder="Elektron pochta *" class="form-control" required>
                                    </div>
                                </div>
                            </div>
                            <select name="" id="" class="form-control w-100">

                                {% for mt in mts %}
                                <option value="1">{{ mt.name }}</option>
                                {% endfor %}
                                {% for m in ms %}
                                <option value="1">{{ m.name }}</option>
                                {% endfor %}
            
                                <option value="1">Mahsulotni tanlash</option>
                            </select>
                            <textarea name="message" id=""  placeholder="Xabar *" class="border w-100 p-3 mt-3 mt-lg-4"></textarea>
                            <div class="btn-grounp">
                                <button type="submit" class="btn btn-primary mt-2 float-right">Yuborish</button>
                            </div>
                        </fieldset>
                    </form>
            </div>
        </div>
    </div>
</section>
<!-- contact us end -->

<!--============================
=            Footer            =
=============================-->


{% endblock content %}