{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--===============================
=            Hero Area            =
================================-->

<section class="hero-area bg-1 text-center overly">
	<!-- Container Start -->
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<!-- Header Contetnt -->
				<div class="content-block">
					<h1>Sizga kerak bo'lgan maishiy tehnika va mebellarning barchasini bizda hamyonbop narxlarda xarid qilishingiz mumkin.</h1>
					

				</div>
				<!-- Advance Search -->
				<div class="advance-search">
					<div class="container">
						<div class="row justify-content-center">
							<div class="col-lg-12 col-md-12 align-content-center">
								<form>
									<div class="form-row">
										<div class="form-group col-lg-3 col-md-6">
											<select class="w-100 form-control mt-lg-1 mt-md-2">
												<option>Qaysi turdagi mahsulot kerak </option>
												<option value="1">Maishiy tehnikalar</option>
												<option value="2">Mebellar</option>
											</select>
										</div>
										<div class="form-group col-lg-3 col-md-6">
											<select class="w-100 form-control mt-lg-1 mt-md-2">
												<option>Narxi</option>
												<option value="1">Eng yuqori narxdagi</option>
												<option value="2">O'rtacha narxdagi</option>
												<option value="4">Eng past narxdagi</option>
											</select>
										</div>
										<div class="form-group col-lg-3 col-md-6">
											<input type="text" class="form-control my-2 my-lg-1" id="inputLocation4" placeholder="Rangi">
										</div>
										<div class="form-group col-xl-2 col-lg-3 col-md-6 align-self-center">
											<button type="submit" class="btn btn-primary active w-100">Qidirish</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Container End -->
</section>


<!--===========================================
=            Popular deals section            =
============================================-->

<section class="popular-deals section bg-gray">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="section-title">
					<h2>Mahsulotlar</h2>
				</div>
			</div>
		</div>

		
		<div class="row">
			<!-- offer 01 -->
			<div class="col-lg-12">
				<div class="trending-ads-slide">

					{% for am in ams %}
					<div class="col-sm-12 col-lg-4">
						<!-- product card -->
<div class="product-item bg-light">
	<div class="card">
		<div class="thumb-content">
			<!-- <div class="price">$200</div> -->
			<a href="#">
				<img class="card-img-top img-fluid" src="{{ am.img }}" alt="Card image cap">
			</a>
		</div>
		<div class="card-body">
		    <h4 class="card-title"><a href="#">{{ am.name }}</a></h4>
		    <ul class="list-inline product-meta">
		    	<li class="list-inline-item">
		    		<a href="{% url 'category.html' %}"><i class="fa fa-calendar"></i>{{ am.date }}</a>
		    	</li>
		    </ul>
		    <p class="card-text"><i class="fa fa-folder-open-o"></i>{{ am.content}}</p>
		    <div class="product-ratings">
		    	<ul class="list-inline">
		    		<li class="list-inline-item selected"><i class="fa fa-star"></i></li>
		    		<li class="list-inline-item selected"><i class="fa fa-star"></i></li>
		    		<li class="list-inline-item selected"><i class="fa fa-star"></i></li>
		    		<li class="list-inline-item selected"><i class="fa fa-star"></i></li>
		    		<li class="list-inline-item"><i class="fa fa-star"></i></li>
		    	</ul>
		    </div>
		</div>
	</div>
</div>
					</div>
					{% endfor %}


					{% for m in ms %}
					<div class="col-sm-12 col-lg-4">
												<!-- product card -->
						<div class="product-item bg-light">
							<div class="card">
								<div class="thumb-content">
									<!-- <div class="price">$200</div> -->
									<a href="#">
										<img class="card-img-top img-fluid" src="{{ m.img }}" alt="Card image cap">
									</a>
								</div>
								<div class="card-body">
									<h4 class="card-title"><a href="#">{{ m.name }}</a></h4>
									<ul class="list-inline product-meta">
										<li class="list-inline-item">
											<a href="{% url 'category.html' %}"><i class="fa fa-calendar"></i>{{ m.date }}</a>
										</li>
									</ul>
									<p class="card-text"><i class="fa fa-folder-open-o"></i>{{ m.content}}</p>
									<div class="product-ratings">
										<ul class="list-inline">
											<li class="list-inline-item selected"><i class="fa fa-star"></i></li>
											<li class="list-inline-item selected"><i class="fa fa-star"></i></li>
											<li class="list-inline-item selected"><i class="fa fa-star"></i></li>
											<li class="list-inline-item selected"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
					

				</div>
			</div>
		</div>
		
	</div>
</section>



<!--==========================================
=            All Category Section            =
===========================================-->

<section class=" section">
	<!-- Container Start -->
	<div class="container">
		<div class="row">
			<div class="col-12">
				<!-- Section title -->
				<div class="section-title">
					<h2>Barcha toifalar</h2>
				</div>
				<div class="row">
					<!-- Category list -->
					{% for bt in bts %}
					<div class="col-lg-3 offset-lg-0 col-md-5 offset-md-1 col-sm-6">
						<div class="category-block">
							<div class="header">
								<i class="fa fa-shopping-basket icon-bg-4"></i>
								<h4>{{ bt.name }}</h4>
							</div>
							<ul class="category-list">
								<li><a href="{% url 'category.html' %}"><b>Nomi</b> <span><b>Soni</b></span></a></li>
								<li><a href="{% url 'category.html' %}"></a>{{ bt.type1}} <span>{{ bt.number1}}</span></a></li>
								<li><a href="{% url 'category.html' %}"></a>{{ bt.type2}} <span>{{ bt.number2}}</span></a></li>
								<li><a href="{% url 'category.html' %}"></a>{{ bt.type3}} <span>{{ bt.number3}}</span></a></li>
								<li><a href="{% url 'category.html' %}"></a>{{ bt.type4}}<span>{{ bt.number4}}</span></a></li>
							</ul>
						</div>
					</div> 
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	<!-- Container End -->
</section>


<!--====================================
=            Call to Action            =
=====================================-->

<section class="call-to-action overly bg-3 section-sm">
	<!-- Container Start -->
	<div class="container">
		<div class="row justify-content-md-center text-center">
			<div class="col-md-8">
				<div cla0   ss="content-holder">
					<h2>Dunyodagi yetakchi, yirik ishlab chiqaruvchilarning zamonaviy, 
						markali maishiy tehnika va mebellarini sotuvchi markaz hisoblanadi.Mijozlarimiz 
						bizning olamiga tashrif buyurib, o'zlariga kerak bo'lgan mahsulotlarni topib, 
						keng qamrovli xarid qilish qilishlari mumkin.</h2>
					<ul class="list-inline mt-30">
						<li class="list-inline-item"><a class="btn btn-secondary" href="category.html">Browser Listing</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- Container End -->
</section>

<!--============================
=            Footer            =
=============================-->


<!-- 
Essential Scripts
=====================================-->
{% endblock content %}



