{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="login py-5 border-top-1">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-5 col-md-8 align-item-center">
        <div class="border border">
          <h3 class="bg-gray p-4">Hozir ro'yxatdan o'tish</h3>
          <form action="#">
            <fieldset class="p-4">
              <input class="form-control mb-3" type="email" placeholder="Elektron pochta*" required>
              <input class="form-control mb-3" type="password" placeholder="Parol*" required>
              <input class="form-control mb-3" type="password" placeholder="Parolni tasdiqlash*" required>
              <div class="loggedin-forgot d-inline-flex my-3">
                <input type="checkbox" id="registering" class="mt-1">
                <label for="registering" class="px-2">Ro'yxatdan o'tish orqali siz bizning Shartlarimiz va shartlarimizni qabul qilasiz</label>
              </div>
              <button type="submit" class="btn btn-primary font-weight-bold mt-3">Hozir ro'yxatdan o'ting</button>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!--============================
=            Footer            =
=============================-->

{% endblock content %}