{% extends 'base.html' %}
{% load static %}
{% block content %}

<!--===================================
=            Clients Section        =
====================================-->

<section class="client-slider-03">
	<!-- Container Start -->
	<div class="container">
		<div class="row">
			<!-- Client Slider -->
			<div class="col-md-12">
				<!-- Client Slider -->
<div class="category-slider">
  <!-- Client 01 -->
  <div class="item">
    <a href="{% url 'store.html' %}">
      <!-- Slider Image -->
      <i class="fa fa-bed"></i>
      <h4>Bed</h4>
    </a>
  </div>
  <div class="item">
    <a href="{% url 'store.html' %}">
      <!-- Slider Image -->
      <i class="fa fa-bed"></i>
      <h4>Hotels</h4>
    </a>
  </div>
  <div class="item">
    <a href="{% url 'store.html' %}">
      <!-- Slider Image -->
      <i class="fa fa-car"></i>
      <h4>Cars</h4>
    </a>
  </div>
  <div class="item">
    <a href="{% url 'store.html' %}">
      <!-- Slider Image -->
      <i class="fa fa-cutlery"></i>
      <h4>Restaurants</h4>
    </a>
  </div>
  <div class="item">
    <a href="{% url 'store.html' %}">
      <!-- Slider Image -->
      <i class="fa fa-mobile"></i>
      <h4>Automobile</h4>
    </a>
  </div>
  <div class="item">
    <a href="{% url 'store.html' %}">
      <!-- Slider Image -->
      <i class="fa fa-film"></i>
      <h4>Gym</h4>
    </a>
  </div>
  <!-- Client 01 -->
  <div class="item">
    <a href="{% url 'store.html' %}">
      <!-- Slider Image -->
      <i class="fa fa-paragraph"></i>
      <h4>Park</h4>
    </a>
  </div>
  <div class="item">
    <a href="{% url 'store.html' %}">
      <!-- Slider Image -->
      <i class="fa fa-play"></i>
      <h4>Play</h4>
    </a>
  </div>
  <div class="item">
    <a href="{% url 'store.html' %}">
      <!-- Slider Image -->
      <i class="fa fa-building"></i>
      <h4>Real Estate</h4>
    </a>
  </div>
  <div class="item">
    <a href="{% url 'store.html' %}">
      <!-- Slider Image -->
      <i class="fa fa-shopping-bag"></i>
      <h4>Shopping</h4>
    </a>
  </div>
  <div class="item">
    <a href="{% url 'store.html' %}">
      <!-- Slider Image -->
      <i class="fa fa-bed"></i>
      <h4>Electronics</h4>
    </a>
  </div>
  <div class="item">
    <a href="{% url 'store.html' %}">
      <!-- Slider Image -->
      <i class="fa fa-bed"></i>
      <h4>Health</h4>
    </a>
  </div>

</div>
			</div>
		</div>
	</div>
	<!-- Container End -->
</section>

<section class="stores section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="section-title">
					<h2>More Stores</h2>
				</div>
				<!-- First Letter -->
				<div class="block">
					<!-- Store First Letter -->
					<h5 class="store-letter">#</h5>
					<hr>
					<!-- Store Lists -->
					<div class="row">
						<!-- Store List 01 -->
						<div class="col-md-3 col-sm-6">
							<ul class="store-list">
								<li><a href="{% url 'store.html' %}">1 - 800 - Got - Junk?</a></li>
								<li><a href="{% url 'store.html' %}">1000 bulbs.com</a></li>
								<li><a href="{% url 'store.html' %}">180 packrat.com</a></li>
								<li><a href="{% url 'store.html' %}">3 day blinds</a></li>
							</ul>
						</div>
						<!-- Store List 02 -->
						<div class="col-md-3 col-sm-6">
							<ul class="store-list">
								<li><a href="{% url 'store.html' %}">1 - 800 - Got - Junk?</a></li>
								<li><a href="{% url 'store.html' %}">1000 bulbs.com</a></li>
								<li><a href="{% url 'store.html' %}">180 packrat.com</a></li>
								<li><a href="{% url 'store.html' %}">3 day blinds</a></li>
							</ul>
						</div>
						<!-- Store List 03 -->
						<div class="col-md-3 col-sm-6">
							<ul class="store-list">
								<li><a href="{% url 'store.html' %}">1 - 800 - Got - Junk?</a></li>
								<li><a href="{% url 'store.html' %}">1000 bulbs.com</a></li>
								<li><a href="{% url 'store.html' %}">180 packrat.com</a></li>
								<li><a href="{% url 'store.html' %}">3 day blinds</a></li>
							</ul>
						</div>
						<!-- Store List 04 -->
						<div class="col-md-3 col-sm-6">
							<ul class="store-list">
								<li><a href="{% url 'store.html' %}">1 - 800 - Got - Junk?</a></li>
								<li><a href="{% url 'store.html' %}">1000 bulbs.com</a></li>
								<li><a href="{% url 'store.html' %}">180 packrat.com</a></li>
								<li><a href="{% url 'store.html' %}">3 day blinds</a></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- Second Letter -->
				<div class="block">
					<!-- Store First Letter -->
					<h5 class="store-letter">A</h5>
					<hr>
					<!-- Store Lists -->
					<div class="row">
						<!-- Store List 01 -->
						<div class="col-md-3 col-sm-6">
							<ul class="store-list">
								<li><a href="{% url 'store.html' %}">1 - 800 - Got - Junk?</a></li>
								<li><a href="{% url 'store.html' %}">1000 bulbs.com</a></li>
								<li><a href="{% url 'store.html' %}">180 packrat.com</a></li>
								<li><a href="{% url 'store.html' %}">3 day blinds</a></li>
							</ul>
						</div>
						<!-- Store List 02 -->
						<div class="col-md-3 col-sm-6">
							<ul class="store-list">
								<li><a href="{% url 'store.html' %}">1 - 800 - Got - Junk?</a></li>
								<li><a href="{% url 'store.html' %}">1000 bulbs.com</a></li>
								<li><a href="{% url 'store.html' %}">180 packrat.com</a></li>
								<li><a href="{% url 'store.html' %}">3 day blinds</a></li>
							</ul>
						</div>
						<!-- Store List 03 -->
						<div class="col-md-3 col-sm-6">
							<ul class="store-list">
								<li><a href="{% url 'store.html' %}">1 - 800 - Got - Junk?</a></li>
								<li><a href="{% url 'store.html' %}">1000 bulbs.com</a></li>
								<li><a href="{% url 'store.html' %}">180 packrat.com</a></li>
								<li><a href="{% url 'store.html' %}">3 day blinds</a></li>
							</ul>
						</div>
						<!-- Store List 04 -->
						<div class="col-md-3 col-sm-6">
							<ul class="store-list">
								<li><a href="{% url 'store.html' %}">1 - 800 - Got - Junk?</a></li>
								<li><a href="{% url 'store.html' %}">1000 bulbs.com</a></li>
								<li><a href="{% url 'store.html' %}">180 packrat.com</a></li>
								<li><a href="{% url 'store.html' %}">3 day blinds</a></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- Third Letter -->
				<div class="block">
					<!-- Store First Letter -->
					<h5 class="store-letter">B</h5>
					<hr>
					<!-- Store Lists -->
					<div class="row">
						<!-- Store List 01 -->
						<div class="col-md-3 col-sm-6">
							<ul class="store-list">
								<li><a href="{% url 'store.html' %}">1 - 800 - Got - Junk?</a></li>
								<li><a href="{% url 'store.html' %}">1000 bulbs.com</a></li>
								<li><a href="{% url 'store.html' %}">180 packrat.com</a></li>
								<li><a href="{% url 'store.html' %}">3 day blinds</a></li>
							</ul>
						</div>
						<!-- Store List 02 -->
						<div class="col-md-3 col-sm-6">
							<ul class="store-list">
								<li><a href="{% url 'store.html' %}">1 - 800 - Got - Junk?</a></li>
								<li><a href="{% url 'store.html' %}">1000 bulbs.com</a></li>
								<li><a href="{% url 'store.html' %}">180 packrat.com</a></li>
								<li><a href="{% url 'store.html' %}">3 day blinds</a></li>
							</ul>
						</div>
						<!-- Store List 03 -->
						<div class="col-md-3 col-sm-6">
							<ul class="store-list">
								<li><a href="{% url 'store.html' %}">1 - 800 - Got - Junk?</a></li>
								<li><a href="{% url 'store.html' %}">1000 bulbs.com</a></li>
								<li><a href="{% url 'store.html' %}">180 packrat.com</a></li>
								<li><a href="{% url 'store.html' %}">3 day blinds</a></li>
							</ul>
						</div>
						<!-- Store List 04 -->
						<div class="col-md-3 col-sm-6">
							<ul class="store-list">
								<li><a href="{% url 'store.html' %}">1 - 800 - Got - Junk?</a></li>
								<li><a href="{% url 'store.html' %}">1000 bulbs.com</a></li>
								<li><a href="{% url 'store.html' %}">180 packrat.com</a></li>
								<li><a href="{% url 'store.html' %}">3 day blinds</a></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- Fourth Letter -->
				<div class="block">
					<!-- Store First Letter -->
					<h5 class="store-letter">C</h5>
					<hr>
					<!-- Store Lists -->
					<div class="row">
						<!-- Store List 01 -->
						<div class="col-md-3 col-sm-6">
							<ul class="store-list">
								<li><a href="{% url 'store.html' %}">1 - 800 - Got - Junk?</a></li>
								<li><a href="{% url 'store.html' %}">1000 bulbs.com</a></li>
								<li><a href="{% url 'store.html' %}">180 packrat.com</a></li>
								<li><a href="{% url 'store.html' %}">3 day blinds</a></li>
							</ul>
						</div>
						<!-- Store List 02 -->
						<div class="col-md-3 col-sm-6">
							<ul class="store-list">
								<li><a href="{% url 'store.html' %}">1 - 800 - Got - Junk?</a></li>
								<li><a href="{% url 'store.html' %}">1000 bulbs.com</a></li>
								<li><a href="{% url 'store.html' %}">180 packrat.com</a></li>
								<li><a href="{% url 'store.html' %}">3 day blinds</a></li>
							</ul>
						</div>
						<!-- Store List 03 -->
						<div class="col-md-3 col-sm-6">
							<ul class="store-list">
								<li><a href="{% url 'store.html' %}">1 - 800 - Got - Junk?</a></li>
								<li><a href="{% url 'store.html' %}">1000 bulbs.com</a></li>
								<li><a href="{% url 'store.html' %}">180 packrat.com</a></li>
								<li><a href="{% url 'store.html' %}">3 day blinds</a></li>
							</ul>
						</div>
						<!-- Store List 04 -->
						<div class="col-md-3 col-sm-6">
							<ul class="store-list">
								<li><a href="{% url 'store.html' %}">1 - 800 - Got - Junk?</a></li>
								<li><a href="{% url 'store.html' %}">1000 bulbs.com</a></li>
								<li><a href="{% url 'store.html' %}">180 packrat.com</a></li>
								<li><a href="{% url 'store.html' %}">3 day blinds</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!--============================
=            Footer            =
=============================-->

{% endblock content %}